*{
    margin: 0;
    padding: 0;
    font-family: 'monsterrat', sans-serif;
    box-sizing: border-box;
  }
  
  .information-container {
    background: #2b2828ad;
    background: -webkit-linear-gradient(45deg, #43434396, #000000b6);
    background: linear-gradient(45deg, #0c0808ea, #000000c0);
  
    background-size: cover;
    padding: 60px 0;
    margin: 50px;
  }
  
  .inner-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
  }
  
  .section-title {
    text-align: center;
    color: #ddd;
    text-transform: uppercase;
    font-size: 30px;
  }
  
  .border {
    width: 160px;
    height: 2px;
    background: #cb2d3e;
    margin: 40px auto;
  }
  
  .service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .service-box {
    max-width: 33.33%;
    padding: 10px;
    text-align: center;
    color: #ddd;
    cursor: pointer;
  }
  
  .service-icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid #cb2d3e;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
  }
  
  .service-icon i {
    line-height: 70px;
    transform: rotate(-45deg);
    font-size: 26px;
  }
  
  .service-box:hover .service-icon {
    background: #cb2d3e;
    color: #ddd;
  }
  
  .service-title {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
 
  }
  .description {
    font-size: 14px;
  }
  
  @media screen and (max-width:960px) {
    .service-box {
      max-width: 45%;
    }
  }
  
  @media screen and (max-width:768px) {
    .service-box {
      max-width: 50%;
    }
  }
  
  @media screen and (max-width:480px) {
    .service-box {
      max-width: 100%;
    }
  }

  /* MODAL  */

  #modal-content{
background-color: rgb(3, 2, 2);
color: white;
display: flex;
/* background-color: gold; */
width: 100%; 

  }
  .btn-close{
background-color: white;
  }

  /* form  */
  #loginnn {
    width: 360px;
    margin: 0 auto;
  }
  #loginnn div {
    /*margin-left: 10%;
    margin-right: 10%;*/
    margin-top: 10px;
    margin-bottom: 10px;
  }
 
  #loginnn input {
    height: 50px;
  }
  #loginnn .user input, #loginnn .pass input {
    background-color: white;
    border-radius: 0px 5px 5px 0px;
    border: none;
    color: black;
    font-size: 1.1em;
    padding-left: 10px;
    width: 100%;
  }
  #loginnn .send {
    border-radius: 3px;
  }
  #loginnn .send input {
    width: 100%;
    border-radius: 3px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    border: 0;
    background-color: #c70E01;
    /* text-shadow: 1px 1px 3px #000; */
    box-shadow: 1px 1px 3px #000;
  }






