@import url(https://fonts.googleapis.com/css?family=Qwigley);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
body {
  font-family: 'Montserrat', serif;
}
h1 {
  text-align: center;
  padding: 0 0 .5em 0;
}
p {
  /* text-indent: 5em;*/
  text-align: justify;
  line-height: 1.75em;
}
.fancy {
    color: dark-gray;
    line-height: 2.5em;
}
.fancy::first-letter {
  font-family: 'Qwigley', cursive;
  font-size: 12em;
  color: #c70E01;
  /* background-color: rgba(211, 211, 211, 0.034); */
  margin-right: -5px;
}
.fancy::first-line {
  line-height: 3em;
}
.box {
  height: 100%;
  width: 100%;
  margin: auto;
  border: solid 1px silver;
  padding: 3em;
  overflow: hidden;
}
.box p {
    position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}