

   
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 600px) {
        .col-25, .col-75, input[type=submit] {
          width: 100%;
          margin-top: 0;
        }
      }
      
    /* counter */

    
/* body {
  font-family: Arial;
  padding: 25px;
  background-color: #f5f5f5;
  color: #808080;
  	text-align: center;	
} */

/*-=-=-=-=-=-=-=-=-=-=-=- */
/* Column Grids */
/*-=-=-=-=-=-=-=-=-=-=-=- */

.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fourth { width: 23.5%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth{
	position: relative;
	display:inline;
	display: inline-block;
	float: left;
	margin-right: 2%;
	margin-bottom: 20px;
}
.end { margin-right: 0 !important; }
/* Column Grids End */

.wrapper { width: auto; margin: 40px auto; position: relative;}
.counter { background-color: #ffffff; padding: 20px 0; border-radius: 5px;}
.count-title { font-size: 40px; font-weight: normal;  margin-top: 10px; margin-bottom: 0; text-align: center; }
.count-text { font-size: 18px; font-weight: normal;  margin-top: 10px; margin-bottom: 0; text-align: center; }
.fa-2x { margin: 0 auto; float: none; display: table; color: #c70E01; }




.slideshow {
  position: relative;
  width: auto;
  height: 100vh;
  overflow: hidden;
}
.slideshow-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  animation-name: kenburns;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 16s;
  opacity: 1;
  transform: scale(1.2);
}
.slideshow-image:nth-child(1) {
  animation-name: kenburns-1;
  z-index: 3;
}
.slideshow-image:nth-child(2) {
  animation-name: kenburns-2;
  z-index: 2;
}
.slideshow-image:nth-child(3) {
  animation-name: kenburns-3;
  z-index: 1;
}
.slideshow-image:nth-child(4) {
  animation-name: kenburns-4;
  z-index: 0;
}
@keyframes kenburns-1 {
  0% {
    opacity: 1;
    transform: scale(1.2);
 }
  1.5625% {
    opacity: 1;
 }
  23.4375% {
    opacity: 1;
 }
  26.5625% {
    opacity: 0;
    transform: scale(1);
 }
  100% {
    opacity: 0;
    transform: scale(1.2);
 }
  98.4375% {
    opacity: 0;
    transform: scale(1.2117647059);
 }
  100% {
    opacity: 1;
 }
}
@keyframes kenburns-2 {
  23.4375% {
    opacity: 1;
    transform: scale(1.2);
 }
  26.5625% {
    opacity: 1;
 }
  48.4375% {
    opacity: 1;
 }
  51.5625% {
    opacity: 0;
    transform: scale(1);
 }
  100% {
    opacity: 0;
    transform: scale(1.2);
 }
}
@keyframes kenburns-3 {
  48.4375% {
    opacity: 1;
    transform: scale(1.2);
 }
  51.5625% {
    opacity: 1;
 }
  73.4375% {
    opacity: 1;
 }
  76.5625% {
    opacity: 0;
    transform: scale(1);
 }
  100% {
    opacity: 0;
    transform: scale(1.2);
 }
}
@keyframes kenburns-4 {
  73.4375% {
    opacity: 1;
    transform: scale(1.2);
 }
  76.5625% {
    opacity: 1;
 }
  98.4375% {
    opacity: 1;
 }
  100% {
    opacity: 0;
    transform: scale(1);
 }
}
#titlesection4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 99;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, .75);
  box-shadow: 0 1em 2em -1em rgba(0, 0, 0, .5);
  padding: 1em 2em;
  line-height: 1.5;
}
#titlesection4 small {
  display: block;
  text-transform: lowercase;
  font-size: 0.7em;
}
#titlesection4 small:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, .25);
  padding-bottom: 0.5em;
}
#titlesection4 small:last-child {
  border-top: 1px solid rgba(0, 0, 0, .25);
  padding-top: 0.5em;
}


button::before, button::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}
.draw {
  transition: color 0.25s;
}
.draw::before, .draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  bottom: 0;
  right: 0;
}
.draw:hover {
  color: #60daaa;
}
.draw:hover::before, .draw:hover::after {
  width: 100%;
  height: 100%;
}
.draw:hover::before {
  border-top-color: #60daaa;
  border-right-color: #60daaa;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
  border-bottom-color: #60daaa;
  border-left-color: #60daaa;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
.meet{
  font-size: 18px;
}
.meet:hover {
  color: #c70E01;
  
}
.meet::after {
  top: 0;
  left: 0;
}
.meet:hover::before {
  border-top-color: #fbca67;
  border-right-color: #fbca67;
}
.meet:hover::after {
  border-bottom-color: #fbca67;
  border-left-color: #fbca67;
  transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
}
.center:hover {
  color: #6477b9;
}
.center::before, .center::after {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: center;
}
.center::before {
  border-top: 2px solid #6477b9;
  border-bottom: 2px solid #6477b9;
  transform: scale3d(0, 1, 1);
}
.center::after {
  border-left: 2px solid #6477b9;
  border-right: 2px solid #6477b9;
  transform: scale3d(1, 0, 1);
}
.center:hover::before, .center:hover::after {
  transform: scale3d(1, 1, 1);
  transition: transform 0.5s;
}
.spin {
  width: 5em;
  height: 5em;
  padding: 0;
}
.spin:hover {
  color: #0eb7da;
}
.spin::before, .spin::after {
  top: 0;
  left: 0;
}
.spin::before {
  border: 2px solid transparent;
}
.spin:hover::before {
  border-top-color: #0eb7da;
  border-right-color: #0eb7da;
  border-bottom-color: #0eb7da;
  transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
}
.spin::after {
  border: 0 solid transparent;
}
.spin:hover::after {
  border-top: 2px solid #0eb7da;
  border-left-width: 2px;
  border-right-width: 2px;
  transform: rotate(270deg);
  transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s;
}
.circle {
  border-radius: 100%;
  box-shadow: none;
 
}
.circle::before, .circle::after {
  border-radius: 100%;
}
.thick {
  color: #c70E01;
  font-size: 18px;
  
}
.thick:hover {
  color: #fff;
  font-weight: 50;
}
.thick::before {
  border: 2.5em solid transparent;
  z-index: -1;
}
.thick::after {
  mix-blend-mode: color-dodge;
  z-index: -1;
}
.thick:hover::before {
  background: #c70E01;
  border-top-color: #c70E01;
  border-right-color: #c70E01;
  border-bottom-color: #c70E01;
  transition: background 0s linear 0.4s, border-top-color 0.15s linear, border-right-color 0.15s linear 0.15s, border-bottom-color 0.15s linear 0.25s;
}
.thick:hover::after {
  border-top: 2.5em solid #c70E01;
  border-left-width: 2.5em;
  border-right-width: 2.5em;
}


.buttons {
  isolation: isolate;
}


.title_lines {
  position: relative;
  font-size: 30px;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  color: #c70E01;
  font-family: arial;
  margin-top: 100px;
}
.title_lines:before, .title_lines:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 48%;
  height: 1px;
  content: '\a0';
  background-color: #cccccc;
  margin-left: 2%;
}
.title_lines:before {
  margin-left: -50%;
  text-align: right;
}



